{
  "env": {
    "es6": true,
    "browser": true
  },
  "globals": {
    "angular": "readable"
  },
  "extends": [
    "eslint:recommended",
    "plugin:angular/johnpapa"
  ],
  "rules": {
    "no-extra-boolean-cast": "off",
    "angular/function-type": "off",
    "angular/file-name": "off",
    "angular/controller-as": "off"
  }
}