<!DOCTYPE html>
<html lang="en" ng-app="connectFourApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Connect Four</title>
	<link rel="stylesheet" href="./lib/normalize.css">
	<link rel="stylesheet" href="./css/styles.css">
	<script src="./lib/angular.min.js"></script>
</head>
<body ng-cloak ng-class="match.currentPlayer.isFirstPlayer ? 'player-one' : 'player-two'">

	<div class="outer">
	<div class="middle">
	<div class="inner">

		<div class="winner" ng-controller="VictoryController" ng-show="match.hasWinner()" ng-class="match.getWinner().isFirstPlayer ? 'player-one' : 'player-two'">
			<p>WINNER: {{ match.getWinner().name }}!</p>
			<button ng-click="saveReplay()">💾 Save Replay</button>
			<button ng-click="startNewMatch()">★ New Match</button>
		</div>

		<table class="board" ng-controller="BoardController">
			<thead class="board-head">
				<tr>
					<th ng-repeat="slot in board.slots[0]">
						<button class="do-move" ng-click="doMove(slot)"></button>
					</th>
				</tr>
			</thead>
			<tbody class="board-body">
				<tr ng-repeat="row in rowsToDraw">
					<td ng-repeat="slot in row" ng-class="getSlotCssClass(slot)">
						<div class="slot"></div>
					</td>
				</tr>
			</tbody>
		</table>

		<div class="controls" ng-controller="MatchControlsController">
			<button ng-click="undo()">↶ undo</button>
			<button ng-click="redo()">↷ redo</button>
			&nbsp;&nbsp;
			<button ng-click="startNewMatch()">★ New match</button>
		</div>

		<div class="recentMatchesContainer" ng-controller="RecentMatchesController">
			<strong>Choose replay:</strong>
			<ul class="recentMatchesList">
				<li ng-repeat="match in matchHeaders" ng-click="startReplay(match)">
					{{match.timestamp | toLocale}}
				</li>
			</ul>
			<button ng-click="clearHistory()">Clear History</button>
		</div>

	</div>
	</div>
	</div>

	<script src="./js/domain/util.js"></script>
	<script src="./js/domain/range.js"></script>
	<script src="./js/domain/slot.js"></script>
	<script src="./js/domain/board.js"></script>
	<script src="./js/domain/player.js"></script>
	<script src="./js/domain/move.js"></script>
	<script src="./js/domain/match.js"></script>
	<script src="./js/domain/match-repository.js"></script>
	<script src="./js/app/app.js"></script>
</body>
</html>